<div class="container">
  <div class="row">
    <aside class="col d-flex justify-content-center mt-3 navigation text-dark">
      <ul class="list-group list-unstyled w-50">
        <li class="border-0 twitter-link">
          <%= link_to root_path do %>
            <i class="bi bi-twitter"></i>
          <% end %>
        </li>
        <li class="list-group-item border-0 fw-bold rounded-pill">
          <%= link_to root_path, class: "link-dark" do %>
            <i class="bi bi-house me-4"></i>Home
          <% end %>
        </li>
        <li class="list-group-item border-0 fw-bold rounded-pill">
          <%= link_to root_path, class: "link-dark" do %>
            <i class="bi bi-hash me-4"></i>Explore
          <% end %>
        </li>
        <li class="list-group-item border-0 fw-bold rounded-pill">
          <%= link_to root_path, class: "link-dark" do %>
            <i class="bi bi-bell me-4"></i>Notifications
          <% end %>
        </li>
        <li class="list-group-item border-0 fw-bold rounded-pill">
          <%= link_to root_path, class: "link-dark" do %>
            <i class="bi bi-envelope me-4"></i>Messages
          <% end %>
        </li>
        <li class="list-group-item border-0 fw-bold rounded-pill">
          <%= link_to root_path, class: "link-dark" do %>
            <i class="bi bi-bookmark me-4"></i>Bookmarks
          <% end %>
        </li>
        <li class="list-group-item border-0 fw-bold rounded-pill">
          <%= link_to root_path, class: "link-dark" do %>
            <i class="bi bi-person-fill me-4"></i>Profile
          <% end %>
        </li>
        <li>
          <%= button_tag "Tweet", class: "btn btn-primary rounded-pill w-100 mt-3"%>
        </li>
      </ul>
    </aside>
    <div class="col">
      <%= form_with model: Tweet.new, url: tweets_path, local: true do |f| %>
        <%= f.text_field :body %>
        <%= f.submit %>
      <% end %>

      <% @tweet_bodies.each do |text| %>
        <ul>
          <li>
            <%= text %>
          </li>
        </ul>
      <% end %>
    </div>
    <div class="col">Col</div>
  </div>
</div>
